@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 /* Estilos para el index de la página */ 
 body{ 
    font-family: 'Roboto', sans-serif;
}
.umgindex{ 
    height: 50px;
    width: 170px;
 }
 .nav-item {
    padding-left: 30px;
    padding-right: 10px;
 }
 .titulocon{ 
    padding-right: 20px;
 }
 .cardintegrantes{ 
    width: 15rem;
    top: 100px;
    display: none;
 }
.card-img-top{ 
    height: 260px;
}
.col{ 
    padding-top: 50px;
    padding-right: 10px;
}
.card-text{
    text-align: justify;
}
p { 
    text-align: justify;
}

/*Aquí hago el CSS de las paginas de conjuntos */ 
/*<header>*/
.mconjuntos{ 
    list-style-type: none;
    margin: 0;
    padding: 12px;
    background-color: gray; 
    z-index: 1;
}
.regresarindex{ 
    border: none;
    padding: 10px 20px;
    justify-content: space-between;
    display: flex;
    outline: none;
    background: none;
    font-family: 'Roboto', sans-serif;
}
.regresarindex a{ 
    text-decoration: none;
    color:#f2f4fc;
}
.imgumg {
    position: fixed;
    margin-left: 1040px;
    top: 10px;
    height: 50px;
    width: 170px;
}
/*</header>*/

/*<main>*/
#containermain{
    background-color: #e3e8f4;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); 
    text-align: left;
    padding: 15px;
    min-height: 460px;
    font-family: 'Roboto', sans-serif;
}
#containerunion{ 
    background-color: #e3e8f4;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); 
    text-align: left;
    padding: 15px;
    min-height: 460px;
    font-family: 'Roboto', sans-serif;
}
.col-lg-6{ 
    min-height: 400px;
    min-height: 460px;
    font-family: 'Roboto', sans-serif;
}
.col-lg-6{ 
    min-height: 400px;
}
#btncalcresul{ 
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
.main{ 
    flex: 1;
    padding: 20px;
    min-height: 500px;
}
#lgresultado{ 
    border-left: 2px solid #303440;
}
#lgresultadou{ 
    border-left: 2px solid #303440;
}
#conjuntouniversal{ 
    padding-bottom: 15px;
}
/*<footer>*/ 
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main{ 
    flex: 1;
    padding: 20px;
    min-height: 500px;
}

/* </footer> */
/* Estilos para los resultados de las operaciones con conjuntos */
#resultado{ 
    font-weight: bold;
    font-size: larger;
}
#resultadoA-B{ 
    font-weight: bold;
    font-size: larger;
}
#resultadoB-A{ 
    font-weight: bold;
    font-size: larger;
}
#resultadoA∩B{ 
    font-weight: bold;
    font-size: larger; 
}
#resultadoB∩A{ 
    font-weight: bold;
    font-size: larger; 
}
#resultadoA↑C{ 
    font-weight: bold;
    font-size: larger;
}
#resultadoB↑C{ 
    font-weight: bold;
    font-size: larger;
}
